.campaigns-div {
  top:10px;
}

.campaigns-div-header {
  display:flex;
}

.campaigns-title {
  left: 5%;
}

.create-new-campaign-button {
	background-color:#aa5d22;
	border-radius:2px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:8px 31px;
	text-decoration:none;
	left:55%;
	top:15px;
	border:none;
	height: 2em;
	width: 14em;
}

.create-new-campaign-button:hover {
	background-color:#5cbf2a;
}

.create-new-campaign-button:active {
	position:relative;
	top:1px;
}
