.selector-div {
  width:20%;
  background-color:#DFE2E6;
}

.selector-options {
  display: block;
  width:100%;
}

.selector-options input {
  width:80%;
  left:5%;
}

.selector-options label {
  width:80%;
  left:5%;
  float:left;
}

.enrollment-window-form {
  display: block;
}