.sidebar {
  float: left;
  width: 11%;
  background: #242E35;
  height: 100%;
}

.college-logo {
  left: 5%;
}

.sidebar img {
  width: 100px;
}

.sidebar-nav {
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
}

.sidebar-nav li ul {
  list-style-type: none;
  padding-left: 20px;
}


.sidebar-nav-item {
  font-size: 0.6em;
  color: #9B9C9D;
  font-weight: lighter;
}

.sidebar-button {
  font-size: 1em;
  color: #9B9C9D;
  font-weight: normal;
}