.home {

	section.primary {
		padding: 40px;
	}

	.card {
		width: 66%;
		margin-right: 2.5%;

		img {
			width: 100%;
		}

		.top {
			display: flex;
			justify-content: space-between;
			margin-bottom: 50px;
		}

		&.side {
			min-width: 450px;
			width: 34%;
		}
	}

}