.criteria-enrollment-requirements {
  left: 5%;
  top: 5%;
  background-color:#FFFFFF;
  width:40%;
}

.criteria-enrollment-window {
  display:grid;
  grid-template-columns:auto auto;
}

.criteria-decision-style {
  display:grid;
  grid-template-columns:auto auto;
}

.criteria-payment-deadline {
  display:grid;
  grid-template-columns:auto auto;
}